body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

textarea {
    width: 300px;
    height: 100px;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
}
